/*general*/
html,
body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
img{
    width: 100%;
    height: 100%;
}
/*couleur*/
.gray{
    background-color: gray;
}
.grayMenu{
    background-color: rgb(80, 78, 78);
}
.black{
    background-color: black;
}
/*mise en page*/
.border{
    border: 3px black solid;
}
/*header************************************************************************************************/
/*menuJeu************************************************************************************************/
.menuJeu{
    width: 100vw;
    height: 11vh;
    position: fixed;
    top: 89vh; 
    background-image: url("../Images/decor/menu.png");
    background-size: cover;
    display: flex;
}
.nomPerso{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.vie{
    flex: 1;
    display: flex;
    align-items: center;
    border: 2px solid black;
}
.viePerso{
    flex: 1;
    height: 5vh;
}
.menuOr{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}
.keyMenu{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.keyDansMenu{
    height: 4vh;
    width: 3vw;
}
.time{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
/********************************************************************* Joueur */

#playerMap2 {
    position: absolute;
    top: 78vh;
    left: 94vw;
    width: 4vw;
    height: 7vh;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    box-shadow: black 2px 2px 2px;
    display: flex;
    flex-direction: column;
}
.hautPerso{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.basPerso{
    flex: 1;
}
.orbite{
    position: relative;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgba(196, 166, 158, 0.5);
    border-radius: 15px;
    box-shadow: black 2px 2px 2px;
    display: flex;
    justify-content: center;
}
.oeil{
    flex: 1;
    border-radius: 50px;
    width: 1vw;
    height: 1vw;
    position: relative;
    top: 0.25vw;
    background-color: rgb(219, 219, 219);
    box-shadow: black 2px 2px 2px;
    display: flex;
    justify-content: center;
}
.pupille{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    position: relative;
    width: 0.5vw;
    height: 0.5vw;
    top: 0.25vw;
    box-shadow: black 2px 2px 2px;
}
.persoChercheurDor{
    background-image: url(../Images/decor/skinChercheurDor.png);
    background-size: contain;
    background-position:  center;
    border-radius: 20px;
    box-shadow: black 2px 2px 2px;
}
.persoPrinceMoustache{
    background-image: url(../Images/decor/skinPrinceMoustache.png);
    background-size: contain;
    background-position:  center;
    border-radius: 20px;
    box-shadow: black 2px 2px 2px;
}
.persoLeRouquin{
    background-image: url(../Images/decor/skinLeRouquin.png);
    background-size: contain;
    background-position:  center;
    border-radius: 20px;
    box-shadow: black 2px 2px 2px;
}
.persoZombie{
    background-image: url(../Images/decor/skinZombrain.png);
    background-size: contain;
    background-position:  center;
    border-radius: 20px;
    box-shadow: black 2px 2px 2px;
}
/*terrain*/
.terrainMap2{
    width: 100vw;
    height: 88vh;
    background-image: url("../Images/decor/terrain2Abimé.png"); 
}
/*Obstacles*/
.obstacle {
    position: absolute;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
/*zone*/
.line01{
    top: 0vh;
    left: 0vw;
    width: 1vw; 
    height: 88vh;
}
.line02{
    top: 86vh;
    left: 0vw;
    width: 100vw; 
    height: 3vh;
}
.line03{
    top: 0vh;
    left: 99vw;
    width: 1vw; 
    height: 88vh;
}
.line04{
    top: 0vh;
    left: 0vw;
    width: 100vw; 
    height: 6vh;
}
/*lines*/
.line20{
    left: 0vw;
    width: 10vw;
    top: 25vh;
    height: 6vh;
}
.line21{
    top: 0vw;
    left: 21vw;
    width: 1vw;
    height: 34vh;
}
.line22{
    top: 48vh;
    left: 0vw;
    width: 22vw;
    height: 6vh;
}
.line23{
    top: 25vh;
    left: 37vw;
    width: 1vw;
    height: 62vh;
}
.line24{
    top: 25vh;
    left: 37vw;
    width: 10vw;
    height: 6vh;
}
.line25{
    top: 53vh;
    left: 19vw;
    width: 3vw;
    height: 18vh;
}
.line26{
    top: 65vh;
    left: 37vw;
    width: 27vw;
    height: 6vh;
}
.line27{
    top: 17vh;
    left: 63vw;
    width: 1vw;
    height: 37vh;
}
.line28{
    top: 17vh;
    left: 63vw;
    width: 10vw;
    height: 6vh;
}
.line29{
    top: 25vh;
    left: 83vw;
    width: 17vw;
    height: 6vh;
}
.line30{
    top: 65vh;
    left: 83vw;
    width: 17vw;
    height: 6vh;
}
.line31{
    top: 45vh;
    left: 83vw;
    width: 1vw;
    height: 25vh;
}
.line32{
    top: 4.5vh;
    left: 37vw;
    width: 1vw;
    height: 9.5vh;
}
.line33{
    top: 68vh;
    left: 37vw;
    width: 5vw;
    height: 9vh;
}
.line34{
    top: 29vh;
    left: 95vw;
    width: 4vw;
    height: 7.5vh;
}
.line35{
    top: 70vh;
    left: 95vw;
    width: 4vw;
    height: 7.5vh;
}
.line36{
    top: 29vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
.line37{
    top: -1vh;
    left: 4vw;
    width: 4vw;
    height: 7.5vh;
    z-index: 1000;
}
.line38{
    top: 29vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
.line39{
    top: 33vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
/*deco**********************************************************************/
.marron{
    background-color: rgb(114, 70, 12);
}
/*mur*/
.mur{
    position: absolute;
}
#mur21{
    top: 1.5vh;
    left: 1vw;
    width: 13vw;
    height: 4vh;
}
#mur22{
    top: 1.5vh;
    left: 14vw;
    width: 7vw;
    height: 4vh;
}
#mur23{
    top: 1.5vh;
    left: 22vw;
    width: 15vw;
    height: 4vh;
}
#mur24{
    top: 1.5vh;
    left: 38vw;
    width: 26vw;
    height: 4vh;
}
#mur25{
    top: 1.5vh;
    left: 64vw;
    width: 23vw;
    height: 4vh;
}
#mur26{
    top: 26.5vh;
    left: 1vw;
    width: 8.5vw;
    height: 4vh;
}
#mur27{
    top: 49.5vh;
    left: 1vw;
    width: 18vw;
    height: 4vh;
}
#mur28{
    top: 66.5vh;
    left: 83.3vw;
    width: 16.4vw;
    height: 4vh;
}
#mur29{
    top: 26.5vh;
    left: 84vw;
    width: 15.2vw;
    height: 4vh;
}
#mur30{
    top: 66.5vh;
    left: 38vw;
    width: 12.9vw;
    height: 4vh;
}
#mur31{
    top: 66.5vh;
    left: 50.9vw;
    width: 12.6vw;
    height: 4vh;
}
#mur32{
    top: 26.5vh;
    left: 38vw;
    width: 8.5vw;
    height: 4vh;
}
#mur33{
    top: 18.5vh;
    left: 64vw;
    width: 8.5vw;
    height: 4vh;
}
#mur34{
    top: 69vh;
    left: 38vw;
    width: 4vw;
    height: 4vh;
}
#mur35{
    top: 73vh;
    left: 38vw;
    width: 4vw;
    height: 4vh;
}
#mur36{
    top: 29vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
#mur37{
    top: 33vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
#mur38{
    top: 69.4vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
#mur39{
    top: 73.4vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
#mur40{
    top: 1.5vh;
    left: 87vw;
    width: 12vw;
    height: 4vh;
}
/*monstre*/
.blue{
    box-shadow: 2px 2px 2px;
}
.monstre{
    border-radius: 5px;
}
.monstre7{
    top: 10vh;
    left: 86vw;
    height: 7vh;
    width: 4vw;
}
.monstre8{
    top: 76vh;
    left: 28vw;
    height: 10vh;
    width: 5vw;
}
.monstre9{
    top: 79vh;
    left: 55vw;
    height: 7vh;
    width: 4vw;
}
.monstre10{
    top: 40.5vh;
    left: 11vw;
    height: 7vh;
    width: 4vw;
}
.monstre11{
    top: 45vh;
    left: 87vw;
    height: 7vh;
    width: 4vw;
}
.monstre12{
    top: 23vh;
    left: 23vw;
    height: 10vh;
    width: 5vw;
}
.monstre13{
    top: 24vh;
    left: 66vw;
    height: 18vh;
    width: 10vw;
}
.monstre14{
    top: 34vh;
    left: 40vw;
    height: 7vh;
    width: 4vw;
}
/*piece*/
.piece{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    border: thick double #fc940d;  
    color: coral;
    background-color: rgb(243, 243, 113);
    border-radius: 50px;
    width: 2vw;
    height: 4vh;
}
#piece5{
    top: 56vh;
    left: 13vw;
    width: 2vw;
    height: 4vh;
}
#piece6{
    top: 7vh;
    left: 94vw;
    width: 2vw;
    height: 4vh;
}
#piece7{
    top: 6vh;
    left: 24vw;
    width: 2vw;
    height: 4vh;
}
#piece8{
    top: 79vh;
    left: 39vw;
    width: 2vw;
    height: 4vh;
}
/*key*/
#key2{
    top: 60vh;
    left: 90vw;
    height: 4vh;
    width: 3vw;
}
