/*general*/
html,
body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
img{
    width: 100%;
    height: 100%;
}
/*couleur*/

.color{
    background-color:#2c5674;
}
/*mise en page*/
.border{
    border: 3px black solid;
}

/*menuJeu************************************************************************************************/
.menuJeu{
    width: 100vw;
    height: 11vh;
    position: fixed;
    top: 89vh; 
    background-image: url("../Images/decor/menu.png");
    background-size: cover;
    display: flex;
}
.nomPerso{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.vie{
    flex: 1;
    display: flex;
    align-items: center;
    border: 2px solid black;
}
.viePerso{
    flex: 1;
    height: 5vh;
}
.menuOr{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}
.keyMenu{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.keyDansMenu{
    height: 4vh;
    width: 3vw;
}
.time{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
/********************************************************************* Joueur */

#playerMap3 {
    position: absolute;
    top: 77vh;
    left: 4vw;
    width: 4vw;
    height: 7vh;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    box-shadow: black 2px 2px 2px;
    display: flex;
    flex-direction: column;
}
.hautPerso{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.basPerso{
    flex: 1;
}
.orbite{
    position: relative;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgba(196, 166, 158, 0.5);
    border-radius: 15px;
    box-shadow: black 2px 2px 2px;
    display: flex;
    justify-content: center;
}
.oeil{
    flex: 1;
    border-radius: 50px;
    width: 1vw;
    height: 1vw;
    position: relative;
    top: 0.25vw;
    background-color: rgb(219, 219, 219);
    box-shadow: black 2px 2px 2px;
    display: flex;
    justify-content: center;
}
.pupille{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    position: relative;
    width: 0.5vw;
    height: 0.5vw;
    top: 0.25vw;
    box-shadow: black 2px 2px 2px;
}
.persoPrinceMoustache{
    background-image: url(../Images/decor/skinPrinceMoustache.png);
    background-size: contain;
    background-position:  center;
    border-radius: 20px;
    box-shadow: black 2px 2px 2px;
}

/************************ terrain */
.terrainMap3{
    background-image: url("../Images/decor/phare-ConvertImage.jpg");
    background-repeat: no-repeat;
    width:100vw ;
    height:90vh;
}
/************************** Obstacles*/
.obstacle {
    position: absolute;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    }
/**************** zone*/
.line01{
    top: 0vh;
    left: 0vw;
    width: 2vw; 
    height: 88vh;
}
.line02{
    top: 86vh;
    left: 0vw;
    width: 100vw; 
    height: 3vh;
}
.line03{
    top: 0vh;
    left: 99vw;
    width: 1vw; 
    height: 88vh;
}
.line04{
    top: 0vh;
    left: 0vw;
    width: 100vw; 
    height: 6vh;
}
/******************************** lines*/
.line38{
    left: 20vw;
    width: 5vw;
    top: 20vh;
    height: 2vh;
}
.line39{
    top: 5vw;
    left: 20vw;
    width: 1vw;
    height: 25vh;
}
.line40{
    top: 48vh;
    left: 0vw;
    width: 22vw;
    height: 6vh;
}
.line41{
    top: 25vh;
    left: 37vw;
    width: 1vw;
    height: 30vh;
}
.line42{
    top: 25vh;
    left: 37vw;
    width: 10vw;
    height: 6vh;
}
.line58{
    top: 50vh;
    left: 37vw;
    width: 10vw;
    height: 6vh;
} 

.line43{
    top: 53vh;
    left: 19vw;
    width: 3vw;
    height: 18vh;
}
.line44{
    top: 65vh;
    left: 37vw;
    width: 27vw;
    height: 6vh;
}
.line45{
    top: 17vh;
    left: 63vw;
    width: 1vw;
    height: 37vh;
}
.line46{
    top: 17vh;
    left: 63vw;
    width: 10vw;
    height: 6vh;
}
.line47{
    top: 25vh;
    left: 83vw;
    width: 17vw;
    height: 6vh;
}
.line48{
    top: 65vh;
    left: 83vw;
    width: 17vw;
    height: 6vh;
}
.line49{
    top: 45vh;
    left: 83vw;
    width: 1vw;
    height: 25vh;
}
.line50{
    top: 4.5vh;
    left: 37vw;
    width: 1vw;
    height: 9.5vh;
}
.line51{
    top: 72vh;
    left: 11vw;
    width: 2vw;
    height: 15vh;
}
.line52{
    top: 29vh;
    left: 95vw;
    width: 4vw;
    height: 7.5vh;
}
.line53{
    top: 70vh;
    left: 88vw;
    width: 1.2vw;
    height: 7vh;
}
.line54{
    top: 29vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
.line55{
    top: 5vh;
    left: 8vw;
    width: 1vw;
    height: 10vh;
    /* z-index: 1000; */
}
.line56{
    top: 29vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
.line57{
    top: 6vh;
    left: 2vw;
    width: 4vw;
    height: 6.5vh;
    
}
.line59{
    top: 40vh;
    left: 31vw;
    width: 7vw;
    height: 4vh;
}
.line60{
    top: 45vh;
    left: 83vw;
    width: 3.5vw;
    height: 2vh;
}
.line61{
    top: 54vh;
    left: 15vw;
    width: 4vw;
    height: 4vh;
}
.line62{
    top: 58vh;
    left: 15vw;
    width: 4vw;
    height: 4vh;
}
.line63{
    top: 82vh;
    left: 43vw;
    width: 12.9vw;
    height: 4vh;
    
}
.line64{
    top: 57vh;
    left: 78vw;
    width: 5vw;
    height: 8vh;
}
.line65{
    top: 35vh;
    left: 55vw;
    width: 8vw;
    height: 5vh;
}
/*deco**********************************************************************/
.marron{
    background-color: rgb(114, 70, 12);
}
/*mur*/
.mur{
    position: absolute;
}
#mur41{
    top: 1vh;
    left: 2vw;
    width: 13vw;
    height: 4vh;
}
#mur42{
    top: 1vh;
    left: 14vw;
    width: 10vw;
    height: 4vh;
}
#mur43{
    top: 1vh;
    left: 22vw;
    width: 19vw;
    height: 4vh;
}
#mur44{
    top: 1vh;
    left: 38vw;
    width: 26vw;
    height: 4vh;
}
#mur45{
    top: 1vh;
    left: 64vw;
    width: 23vw;
    height: 4vh;
}
#mur46{
    top:32vh;    
    left: 2vw;
    width: 10vw;
    height: 3vh;
}
#mur47{
    top: 49vh;
    left: 2vw;
    width: 17vw;
    height: 4vh;
}
#mur48{
    top: 66vh;
    left: 83.3vw;
    width: 15.8vw;
    height: 4vh;
}
#mur49{
    top: 26vh;
    left: 83.5vw;
    width: 15.2vw;
    height: 4vh;
}
#mur50{
    top: 66vh;
    left: 38vw;
    width: 12.9vw;
    height: 4vh;
}
#mur51{
    top: 66vh;
    left: 50.6vw;
    width: 12.6vw;
    height: 4vh;
}
#mur52{
    top: 26vh;
    left: 38vw;
    width: 8.5vw;
    height: 4vh;
}
#mur53{
    top: 51vh;
    left: 38vw;
    width: 8.5vw;
    height: 4vh;
}
#mur54{
    top: 18.5vh;
    left: 64vw;
    width: 8.5vw;
    height: 4vh;
}
#mur55{
    top: 54vh;
    left: 15vw;
    width: 4vw;
    height: 4vh;
}
#mur56{
    top: 58vh;
    left: 15vw;
    width: 4vw;
    height: 4vh;
}
#mur57{
    top: 31.2vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
#mur58{
    top: 35vh;
    left: 95vw;
    width: 4vw;
    height: 4vh;
}
#mur59{
    top: 57vh;
    left: 78vw;
    width: 5vw;
    height: 8vh;
}
#mur60{
    top: 82vh;
    left: 43vw;
    width: 12.9vw;
    height: 4vh;
}
#mur61{
    top: 1vh;
    left: 87vw;
    width: 12vw;
    height: 4vh;
}
#mur62{
    top: 6vh;
    left: 85vw;
    width: 1vw;
    height:7vh;
}
#mur63{
    top: 21vh;
    left: 85vw;
    width: 1vw;
    height: 4vh;
}
#mur64{
    top: 35vh;
    left: 55vw;
    width: 8vw;
    height: 5vh;
}
/*monstre*/
.blue{
    box-shadow: 2px 2px 2px;
}
.monstre{
    border-radius: 5px;
}
.monstre15{
    top: 8vh;
    left: 50vw;
    height: 8vh;
    width: 4.5vw;
}
.monstre16{
    top: 76vh;
    left: 28vw;
    height: 10vh;
    width: 5vw;
}
.monstre17{
    top: 77vh;
    left: 65vw;
    height: 8vh;
    width: 4.5vw;
}
.monstre18{
    top: 40vh;
    left: 8vw;
    height: 7vh;
    width: 4vw;
}
.monstre19{
    top: 50vh;
    left: 85vw;
    height: 7vh;
    width: 4vw;
}
.monstre20{
    top: 8vh;
    left: 30vw;
    height: 10vh;
    width: 5vw;
}
.monstre21{
    top: 33vh;
    left: 66vw;
    height: 12vh;
    width: 6vw;
}
.monstre22{
    top: 34vh;
    left: 40vw;
    height: 7vh;
    width: 4vw;
}
.monstre23{
    top: 18vh;
    left: 10vw;
    height: 7vh;
    width: 4vw;
}
.monstre24{
    top: 17vh;
    left: 94vw;
    height: 7vh;
    width: 4vw;
}
/**************************** piece*/
.piece{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    border: thick double #fc940d;  
    color: coral;
    background-color: rgb(243, 243, 113);
    border-radius: 50px;
    width: 2vw;
    height: 4vh;
}
#piece9{
    top: 56vh;
    left: 3vw;
    width: 2vw;
    height: 4vh;
}
#piece10{
    top: 18vh;
    left: 88vw;
    width: 2vw;
    height: 4vh;
}
#piece11{
    top: 12vh;
    left: 22vw;
    width: 2vw;
    height: 4vh;
}
#piece12{
    top: 72vh;
    left: 47vw;
    width: 2vw;
    height: 4vh;
}
#piece13{
    top: 43vh;
    left: 39vw;
    width: 2vw;
    height: 4vh;
}
#piece14{
    top: 7vh;
    left: 39vw;
    width: 2vw;
    height: 4vh;
}
#piece15{
    top: 75vh;
    left: 92vw;
    width: 2vw;
    height: 4vh;
}
#piece16{
    top: 25vh;
    left: 65vw;
    width: 2vw;
    height: 4vh;
}
#tresor{
    top: 57vh;
    left: 94vw;
    height: 8vh;
    width: 4vw;
}

/******************* key*/
#key3{
    top: 8vh;
    left: 94vw;
    height: 4vh;
    width: 3vw;
}